html {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}

ul.cats{
  /*width: 100%;*/
  /*max-width: 1300px;*/
}

li {
  margin: -1px;
  display: inline;
  height: inherit;
  margin-bottom: -1px;
}

/*
p {
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-top: 2em;
}

.text{
  display: none;
  padding: 0px;
  background-color: rgba(71,163,218,0.2);
  position: absolute;
  width: 13%;
  height: 16em;
  margin-top: 1.5em;
  margin-left: -15%;
  overflow:hidden;
}*/

img:hover + span{
  display: inline;
}

@media screen /*6x5*/
  and (min-device-width: 1191px)
  and (max-device-width: 1600px) {
    ul {
      width: 100%;
    }

    img {
      width: 16.6%;
      margin-bottom: -1px;
    }

    p {
      color: white;
      font-size: 1.5em;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      padding-top: 2em;
    }

    .text{
      display: none;
      padding: 0px;
      background-color: rgba(71,163,218,0.2);
      position: absolute;
      width: 13%;
      height: 18em;
      margin-top: 1.5em;
      margin-left: -15%;
      overflow:hidden;
    }
}

@media screen /*5x6*/
  and (min-device-width: 945px)
  and (max-device-width: 1190px) {
    ul {
      width: 100%;
    }

    img {
      width: 20%;
      margin-bottom: -1px;
    }

    p {
      color: white;
      font-size: 1.5em;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      padding-top: 2em;
    }

    .text{
      display: none;
      padding: 0px;
      background-color: rgba(71,163,218,0.2);
      position: absolute;
      width: 12.5%;
      height: 14em;
      margin-top: 1em;
      margin-left: -16%;
      overflow:hidden;
    }
}

@media screen /*4x8*/
  and (min-device-width: 660px)
  and (max-device-width: 944px) {
    ul {
      width: 100%;
    }

    img {
      width: 24%;
      margin-bottom: -1px;
    }

    p {
      color: white;
      font-size: 1.2em;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      padding-top: 2em;
    }

    .text{
      display: none;
      padding: 0px;
      background-color: rgba(71,163,218,0.2);
      position: absolute;
      width: 18%;
      height: 18em;
      margin-top: 1em;
      margin-left: -21%;
      overflow:hidden;
    }
}

@media screen /*3x10*/
  and (min-device-width: 400px)
  and (max-device-width: 659px) {
    img {
      max-width: 33%;
      margin-bottom: -1px;
      overflow: hidden;
    }

    p {
      color: white;
      font-size: 1.5em;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      padding-top: 2em;
    }

    .text{
      display: none;
      padding: 0px;
      background-color: rgba(71,163,218,0.2);
      position: absolute;
      width: 27%;
      height: 20em;
      margin-top: 1em;
      margin-left: -30%;
      overflow:hidden;
    }
}

@media screen /*2x15*/
  and (min-device-width: 300px)
  and (max-device-width: 399px) {
    img {
      width: 50%;
      margin-bottom: -1px;
    }

    p {
      color: white;
      font-size: 2em;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      padding-top: 2em;
    }

    .text{
      display: none;
      padding: 0px;
      background-color: rgba(71,163,218,0.2);
      position: absolute;
      width: 35%;
      height: 40%;
      margin-top: 3em;
      margin-left:-42%;
      overflow:hidden;
    }
}
